@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.video {
    width: 100%;
    
}
.name {
    font-size: 4vw;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.work {
    font-size: 2vw;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.creative {

    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.sec {
    background-color: #555B5D;
    position: relative;
    padding: 0;
}
.nam{
    font-family: 'Times New Roman', Times, serif;
    opacity: 50%;
}
.snam{
    font-family: 'Times New Roman', Times, serif;
}
.details{
    font-family: 'Times New Roman', Times, serif;
}
.collab{
    font-family: 'Times New Roman', Times, serif;
}
.jewel{
    font-family: 'Times New Roman', Times, serif;
    color: #320C0C;
}



  
  .story{
    font-family: 'Times New Roman', Times, serif;
  }
  .mystory{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
  }
  .state{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .contact{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    justify-content: space-evenly;
  }
  .underline{
    text-decoration: none;
  }
  .rectangle {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #484545; /* Semi-transparent black */
    z-index: 50; /* Ensure it is on top of img4 */
  }